<div class="main-content">
    <uib-tabset active="active">
        <uib-tab index="0" heading="快照管理">
            <table ng-table="$ctrl.snapshotTableParams" show-filter="false" class="table">
                <tr ng-repeat="snap in $data">
                    <td data-title="'镜像名称/ID'" header-class="'text-left'" sortable="'snapName'" filter="{ 'snapName': 'text' }">
                        {{snap.snapName}}
                    </td>
                    <td data-title="'类型'" header-class="'text-right'" sortable="'type'" filter="{ 'type': 'text' }">
                        {{snap.type}}
                    </td>
                    <td data-title="'系统类型'" header-class="'text-right'" sortable="'systemType'" filter="{ 'systemType': 'text' }">
                        {{snap.systemType}}
                    </td>
                    <td data-title="'镜像类型'" header-class="'text-right'" sortable="'snapType'" filter="{ 'snapType': 'text' }">
                        {{snap.snapType}}
                    </td>
                    <td data-title="'公有'" header-class="'text-right'" sortable="'isPublic'" filter="{ 'isPublic': 'text' }">
                        {{snap.isPublic}}
                    </td>
                    <td data-title="'系统架构'" header-class="'text-right'" sortable="'systemStructure'" filter="{ 'systemStructure': 'text' }">
                        {{snap.systemStructure}}
                    </td>
                    <td data-title="'磁盘格式'" header-class="'text-right'" sortable="'diskFormat'" filter="{ 'diskFormat': 'text' }">
                        {{snap.diskFormat}}
                    </td>
                    <td data-title="'状态'" header-class="'text-right'" sortable="'status'" filter="{ 'status': 'text' }">
                        {{snap.status}}
                    </td>
                    <td data-title="'创建时间'" header-class="'text-right'" sortable="'createTime'" filter="{ 'createTime': 'text' }">
                        {{snap.createTime}}
                    </td>
                </tr>
            </table>
        </uib-tab>
        <uib-tab index="1" heading="镜像管理">
            <table ng-table="$ctrl.mirrorTableParams" show-filter="false" class="table">
                <tr ng-repeat="mirror in $data">
                    <td data-title="'镜像名称/ID'" header-class="'text-left'" sortable="'mirrorName'" filter="{ 'mirrorName': 'text' }">
                        {{mirror.mirrorName}}
                    </td>
                </tr>
            </table>
        </uib-tab>
        <uib-tab index="2" heading="云主机配置">云主机配置</uib-tab>
    </uib-tabset>
</div>