@import './yofc-bootstrap/bootstrap.scss';
@import './yofc-neat/neat.scss';
@import './yofc-framework-ui/yofc-framework-ui.scss';
html {
    height: 100%;
}

body {
    height: 100%;
}

//framework layout
body.index {
    header {
        display: block;
        height: 50px;
        background-color: #1a202c;
    }
    section {
        height: calc( 100% - 50px);
        aside {
            float: left;
            width: 11.458333%;
            height: 100%;
            background-color: #343f51;
            padding-top: 40px;
        }
        article {
            float: right;
            width: 88.541667%;
            height: 100%;
            background-color: #f1f2f6;
        }
    }
    footer {
        display: none;
    }
}