@import './yofc-font-awesome/font-awesome.scss';
@import './yofc-bootstrap/bootstrap.scss';
@import './yofc-framework-ui/yofc-framework-ui.scss';
html {
    height: 100%;
    font-family: "Microsoft YaHei";
}

body {
    height: 100%;
}

//framework layout
body.index {
    header {
        display: block;
        height: 50px;
        background-color: #292d36;
    }
    section {
        height: calc( 100% - 50px);
        aside {
            float: left;
            position: relative;
            width: 11.458333%;
            height: 100%;
            background-color: #373b47;
            padding-top: 40px;
            // 阴影投影效果
            // box-shadow: 5px 5px 14px 0px #ccc;
        }
        article {
            float: right;
            width: 88.541667%;
            height: 100%;
            background-color: #f1f2f6;
        }
    }
    footer {
        display: none;
    }
    

    $yofc-btn-primary-color:              #fff !default;
    $yofc-btn-primary-bg:                 #006cff !default;
    $yofc-btn-primary-border:             darken($btn-primary-bg, 5%) !default;
    .btn{
        border-radius: 2px;
    }
    .btn-primary {
        @include button-variant($yofc-btn-primary-color, $yofc-btn-primary-bg, $yofc-btn-primary-border);
    }

    .tool-bar {
        height: 30px;
        margin: 20px;
        .btn{
            float: left;
            margin-right: 20px;
        }
    }
    
}