@import "./yofc-bootstrap/bootstrap/variables";
@import "./yofc-bootstrap/bootstrap/mixins";
@import './yofc-bootstrap/bootstrap/normalize';
@import "./yofc-bootstrap/bootstrap/scaffolding";
@import "./yofc-bootstrap/bootstrap/type";
@import "./yofc-bootstrap/bootstrap/forms";
@import "./yofc-bootstrap/bootstrap/buttons";
// Utility classes
@import "./yofc-bootstrap/bootstrap/utilities";
@import "./yofc-bootstrap/bootstrap/responsive-utilities";
html {
    height: 100%;
    font-family: "Microsoft YaHei";
}

body {
    height: 100%;
}

body.login {
    background: #0f0f10 url(../../images/yofc-login-bg.png) no-repeat center center;
    // background-size: 100% 100%;
    // background-size: 100%;
}

// 登录框定位
yofc-login {
    display: block;
    height: 100%;
}