@import './yofc-bootstrap/bootstrap/normalize';
html {
    height: 100%;
    font-family: "Microsoft YaHei";
}

body {
    height: 100%;
}

body.login {
    background: #0f0f10 url(../../images/yofc-login-bg.png) no-repeat center center;
    // background-size: 100% 100%;
}

// 登录框定位
yofc-login {
    display: block;
    height: 100%;
}