.logo-wrap {
    float: left;
    position: relative;
    width: 11.458333%;
    height: 100%;
    // 阴影投影效果
    box-shadow: 5px 0px 8px 0px #ddd;
    .logo-inner {
        width: 72.727273%;
        margin-top: 12px;
        margin-left: 9.090909%;
        img {
            display: inline-block;
            width: 100%;
        }
    }
}

.menu-wrap {
    float: right;
    width: 88.541667%;
    height: 100%;
    background-color: #fff;
    box-shadow: 10px 5px 8px 0px #ddd;
}