<div class="logo-wrap">
    <div class="logo-inner">
        <img src="../../../assets/images/yofc-cmp-logo.png" />
    </div>
</div>
<div class="menu-wrap">
    <div class="aside-nav-toggle-btn-wrap">
        <a class="aside-nav-toggle-btn">

        </a>
    </div>
    <ul>
        <li>
            <a href="#">
                <span class="yofc-icon yofc-cmp-database-icon"></span>
                <span class="menu-item-txt">数据中心1</span>
            </a>
        </li>

        <li>
            <a href="#">
                <span class="yofc-icon yofc-cmp-current-project"></span>
                <span class="menu-item-txt">项目1</span>
            </a>
        </li>

        <li uib-dropdown>
            <a href="#" uib-dropdown-toggle>
                <span class="yofc-icon yofc-cmp-workflow-order"></span>
                <span class="menu-item-txt">工单</span>
            </a>
            <ul uib-dropdown-menu class="dropdown-menu">
                <li><a href="#">已被审批</a></li>
                <li><a href="#">待我审批</a></li>
                <li><a href="#">我的工单</a></li>
            </ul>
        </li>

        <li>
            <a href="#">
                <span class="yofc-icon yofc-cmp-current-user"></span>
                <span class="menu-item-txt">当前用户名</span>
            </a>
        </li>

        <li>
            <a href="#">
                <span class="yofc-icon yofc-cmp-calendar-icon"></span>
                <span class="menu-item-txt">2017.12.18 星期一</span>
            </a>
        </li>
    </ul>
</div>