<p class="tool-bar">
    <button type="button" class="btn btn-primary btn-sm">
        <i class="fa fa-plus" aria-hidden="true"></i>
        新建
    </button>
    <button type="button" class="btn btn-blue btn-sm">
        <i class="fa fa-edit" aria-hidden="true"></i>
        编辑
    </button>
    <button type="button" class="btn btn-blue btn-sm">
        <i class="fa fa-edit" aria-hidden="true"></i>
        设置网关
    </button>
    <button type="button" class="btn btn-blue btn-sm">
        <i class="fa fa-trash-o" aria-hidden="true"></i>
        删除网关
    </button>
    <button type="button" class="btn btn-blue btn-sm">
        <i class="fa fa-trash-o" aria-hidden="true"></i>
        删除路由器
    </button>
</p>

<script type="text/ng-template" id="headerCheckbox.html">
    <input type="checkbox" ng-model="checkboxes.checked" class="select-all" value=""/>
</script>
<table ng-table="$ctrl.tableParams" class="table">
    <tr ng-repeat="user in $data">
        <td header="'headerCheckbox.html'"><input type="checkbox" ng-model="checkboxes.items[user.id]" /></td>
        <td title="'项目'" sortable="'name'">
            {{user.name}}</td>
        <td title="'路由器名称'">
            {{user.age}}</td>
        <td title="'状态'">
                {{user.age}}</td>
        <td title="'外部网络'">
                {{user.age}}</td>
        <td title="'管理状态'">
                {{user.age}}</td>
    </tr>
</table>