<ul class="aside-nav">
    <!-- <li>
        <a href="#">
            <span class="yofc-icon cloud-platform-overview-icon"></span>
            <span class="nav-item-txt">云平台总览</span>
        </a>
    </li> -->

    <li>
        <a href ui-sref="yofc-cmp.cloud-resource-mgr">
            <span class="yofc-icon cloud-res-mgr-icon"></span>
            <span class="nav-item-txt">云资源管理</span>
        </a>
        <ul>
            <li>
                <a href ui-sref="yofc-cmp.cloud-resource-mgr.overview" ui-sref-active-eq="active">
                    <span class="list-style-circle"></span>
                    <span class="nav-item-txt">云资源概况</span>
                </a>
            </li>
            <li>
                <a href ui-sref="yofc-cmp.cloud-resource-mgr.calc" ui-sref-active-eq="active">
                    <span class="list-style-circle"></span>
                    <span class="nav-item-txt">云计算资源</span>
                </a>
            </li>

            <li>
                <a href ui-sref="yofc-cmp.cloud-resource-mgr.store" ui-sref-active-eq="active">
                    <span class="list-style-circle"></span>
                    <span class="nav-item-txt">云存储资源</span>
                </a>
            </li>

            <li>
                <a href ui-sref="yofc-cmp.cloud-resource-mgr.network.route-mgr" ui-sref-active-eq="active">
                    <span class="list-style-circle"></span>
                    <span class="nav-item-txt">云网络资源</span>
                </a>
            </li>

            <li>
                <a href href ui-sref="yofc-cmp.cloud-resource-mgr.security" ui-sref-active-eq="active">
                    <span class="list-style-circle"></span>
                    <span class="nav-item-txt">云安全资源</span>
                </a>
            </li>

        </ul>
    </li>


    <li>
        <a href="#">
            <span class="yofc-icon workflow-order-icon"></span>
            <span class="nav-item-txt">用户工单管理</span>
        </a>
        <ul>
            <!-- <li>
                <a href>
                    <span class="list-style-circle"></span>
                    <span class="nav-item-txt">物理机申请</span>
                </a>
            </li> -->
            <li>
                <a href>
                    <span class="list-style-circle"></span>
                    <span class="nav-item-txt">申请云主机</span>
                </a>
            </li>
            <li>
                <a href>
                    <span class="list-style-circle"></span>
                    <span class="nav-item-txt">存储申请</span>
                </a>
            </li>

            <li>
                <a href>
                    <span class="list-style-circle"></span>
                    <span class="nav-item-txt">工单状态</span>
                </a>
            </li>
            <li>
                <a href>
                    <span class="list-style-circle"></span>
                    <span class="nav-item-txt">网络申请</span>
                </a>
            </li>
        </ul>
    </li>

    <li>
        <a href="#">
            <span class="yofc-icon workflow-order-icon"></span>
            <span class="nav-item-txt">管理员工单管理</span>
        </a>

        <ul>

            <li>
                <a href>
                    <span class="list-style-circle"></span>
                    <span class="nav-item-txt">用户管理</span>
                </a>
            </li>
            <li>
                <a href>
                    <span class="list-style-circle"></span>
                    <span class="nav-item-txt">工单状态</span>
                </a>
            </li>
            <li>
                <a href>
                    <span class="list-style-circle"></span>
                    <span class="nav-item-txt">配额申请</span>
                </a>
            </li>

        </ul>
    </li>

    <li>
        <a href="#">
            <span class="yofc-icon renter-amount-icon"></span>
            <span class="nav-item-txt">用户及配额</span>
        </a>
        <ul>
            <li>
                <a href>
                    <span class="list-style-circle"></span>
                    <span class="nav-item-txt">组织架构</span>
                </a>
            </li>

            <li>
                <a href>
                    <span class="list-style-circle"></span>
                    <span class="nav-item-txt">用户管理</span>
                </a>
            </li>

            <li>
                <a href>
                    <span class="list-style-circle"></span>
                    <span class="nav-item-txt">配额管理</span>
                </a>
            </li>
        </ul>
    </li>

    <li>
        <a href="#">
            <span class="yofc-icon cloud-operation-icon"></span>
            <span class="nav-item-txt">云运维管理</span>
        </a>

        <ul>
            <li>
                <a href>
                    <span class="list-style-circle"></span>
                    <span class="nav-item-txt">工单及审批</span>
                </a>
            </li>

            <li>
                <a href>
                    <span class="list-style-circle"></span>
                    <span class="nav-item-txt">日志管理</span>
                </a>
            </li>

            <!-- <li>
                <a href>
                    <span class="list-style-circle"></span>
                    <span class="nav-item-txt">资源监控</span>
                </a>
            </li>

            <li>
                <a href>
                    <span class="list-style-circle"></span>
                    <span class="nav-item-txt">告警管理</span>
                </a>
            </li>

            <li>
                <a href>
                    <span class="list-style-circle"></span>
                    <span class="nav-item-txt">报表管理</span>
                </a>
            </li> -->
        </ul>
    </li>

    <!-- <li>
        <a href="#">
            <span class="yofc-icon data-center-icon"></span>
            <span class="nav-item-txt">数据中心管理</span>
        </a>

        <ul>
            <li>
                <a href>
                    <span class="list-style-circle"></span>
                    <span class="nav-item-txt">服务器管理</span>
                </a>
            </li>

            <li>
                <a href>
                    <span class="list-style-circle"></span>
                    <span class="nav-item-txt">网络及IP地址</span>
                </a>
            </li>

            <li>
                <a href>
                    <span class="list-style-circle"></span>
                    <span class="nav-item-txt">数据中心管理</span>
                </a>
            </li>
        </ul>
    </li> -->

</ul>