<ul>
    <li>
        <a href="#">
            <span class="yofc-icon cloud-platform-overview-icon"></span>
            <span class="nav-item-txt">云平台总览</span>
        </a>
    </li>

    <li>
        <a href="#">
            <span class="yofc-icon cloud-res-mgr-icon"></span>
            <span class="nav-item-txt">云资源管理</span>
        </a>

        <ul>
            <li>
                <a href="#">
                    <span class="yofc-icon cloud-res-overview-icon"></span>
                    <span class="nav-item-txt">云资源概况</span>
                </a>
            </li>

            <li>
                <a href="#">
                    <span class="yofc-icon cloud-calc-res-icon"></span>
                    <span class="nav-item-txt">云计算资源</span>
                </a>
            </li>

            <li>
                <a href="#">
                    <span class="yofc-icon cloud-store-res-icon"></span>
                    <span class="nav-item-txt">云存储资源</span>
                </a>
            </li>

            <li>
                <a href="#">
                    <span class="yofc-icon cloud-network-res-icon"></span>
                    <span class="nav-item-txt">云网络资源</span>
                </a>
            </li>

            <li>
                <a href="#">
                    <span class="yofc-icon cloud-security-res-icon"></span>
                    <span class="nav-item-txt">云安全资源</span>
                </a>
            </li>

        </ul>
    </li>

    <li>
        <a href="#">
            <span class="yofc-icon renter-amount-icon"></span>
            <span class="nav-item-txt">租户及配额</span>
        </a>


    </li>

    <li>
        <a href="#">
            <span class="yofc-icon cloud-operation-icon"></span>
            <span class="nav-item-txt">云运维管理</span>
        </a>
    </li>

    <li>
        <a href="#">
            <span class="yofc-icon data-center-icon"></span>
            <span class="nav-item-txt">数据中心管理</span>
        </a>
    </li>

</ul>