<div class="login-wrap">
    <div class="yofc-login-logo-wrap">
        <img src="../../../assets/images/yofc-cmp-logo.png" />
    </div>
    <h1>长飞云管理平台</h1>


    <div class="login-form-wrap">
        <div class="login-form-header">
            <h2>长飞云账号登录</h2>
        </div>
        <div class="login-form-body">
            <form>
                <div class="form-group">
                    <label for="account">账号</label>
                    <input type="text" class="form-control" placeholder="账号">
                </div>
            </form>
        </div>
    </div>
</div>