.login-wrap {
    width: 400px;
    height: 310px;
    background-color: #fff;
    margin-left: auto;
    margin-right: auto;
    margin-top: -155px;
    position: relative;
    top: 50%;
    border-radius: 4px;
    .yofc-login-logo-wrap {
        width: 223px;
        height: 31px;
        margin-left: auto;
        margin-right: auto;
        position: relative;
        top: -103px;
        img {
            display: block;
            width: 100%;
        }
    }
    h1 {
        font-size: 20px;
        color: #fff;
        font-weight: 500;
        position: relative;
        top: -90px;
        text-align: center;
        margin: 0;
        letter-spacing: 0.2em;
    }
}

.login-form-wrap {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    // background-color: red;
    .login-form-header {
        height: 56px;
        border-bottom: 1px solid #e8e8e8;
        h2 {
            font-size: 16px;
            font-weight: normal;
            color: #333;
            letter-spacing: 0.1em;
            margin: 0;
            line-height: 56px;
        }
        &:before {
            content: ' ';
            display: block;
            width: 2px;
            height: 14px;
            background-color: #06c1de;
            float: left;
            margin-left: 30px;
            margin-right: 10px;
            position: relative;
            top: 50%;
            margin-top: -7px;
        }
    }
    .login-form-body {
        form {
            padding: 30px;
            >div.form-group {
                position: relative;
                margin-bottom: 25px;
                label.input-addon-icon {
                    display: inline-block;
                    width: 24px;
                    height: 24px;
                    text-indent: -999999px;
                    background-color: red;
                    position: absolute;
                    top: 5px;
                    left: 13px;
                    &.account {
                        background: url("../../../assets/images/icons_14x14/yofc-account-icon.png") no-repeat center center;
                    }
                    &.password {
                        background: url("../../../assets/images/icons_14x14/yofc-password-icon.png") no-repeat center center;
                    }
                }
                input {
                    text-indent: 42px;
                }
                .btn-login-submit {
                    background-color: #14c1de;
                    font-size: 16px;
                    color: #fff;
                    border-radius: 20px;
                    ;
                }
            }
        }
    }
}